/* app.css */

/* Main Content styles */
.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 200px; /* Adjust based on side menu width */
  min-height: 100vh; /* Ensure the content takes up the full height of the viewport */
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* Set box-sizing to border-box for all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Global styles */
:root{
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  color: #f5f5f5;
  background: linear-gradient(
    190deg,
    rgba(37, 35, 35, 1) 40%,  /* Adjust the alpha value for the first color stop (black) */
    rgba(77, 61, 88, 0.95)90%   /* Keep the alpha value as 1 for the second color stop (purple) */
  );
  
}

/* Container styles */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Flex container for layout */
.flex {
  display: flex;
}

/* Side Menu styles */
.side-menu-fixed {
  position: fixed;
  top: 160px;
  left: 0;
  height: 614px;
  width: 230px;
  background-color: #0d0d0d59; /* Adjust color as needed */
  border: 0.8px solid #f5f5f51b; /* Add a 3px solid border with the desired color */
  padding: 20px;
  z-index: 10;
  letter-spacing: 0px;
  font-size: 16px;
}

.side-menu-fixed .nav-link {
  display: block;
  margin-bottom: 8px;
  padding: 6px;
  color: #f5f5f5;
  text-decoration: none;
  text-align: center;
}

.side-menu-fixed .nav-link:not(.active):hover {
  border: 0.8px solid #f5f5f5b3; /* Add a 3px solid border with the desired color */
  background-color: transparent;
  border-radius: 10px; /* Adjust the value for desired roundness */

}

/* Main Content styles */
.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 200px; /* Adjust based on side menu width */
}

.main-content .header {
  margin-bottom: 20px;
}

/* Navigation link styles */
.nav-link {
  display: block;
  color: #2d3748;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #cbd5e0; /* Adjust color as needed */
}

.nav-link.active {
  background-color: #D3BFF5; /* Adjust color as needed */
  color: #2d3748;
  border-radius: 10px;

}

.fintex-logo{
  position: absolute;
  left:24px;
  top:66px;
  max-width: 12%;
  max-height: auto;
}

